*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}
html,
body{
    height: 100%;
    width: 100%;
}
main{
    height: 100vh;
    width: 100%;
    background-color: #111;
    color: white;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

/* .container{
    padding: 10px;
    border: 3px solid white;
    border-radius: 20px;
    width: fit-content;
}

.box{
    height: 200px;
    width: 200px;
    margin: 10px;
    background:linear-gradient(to right bottom, rgb(248, 66, 103), crimson);
    border-radius: 10px;
} */

.circle{
    height: 200px;
    width: 200px;
    margin: 20px;
    border-radius: 50%;
    background: linear-gradient(to right bottom, lightblue, cadetblue);
} 

/* button{
    padding: 20px 80px;
    border-radius: 50px;
    background: linear-gradient(lightseagreen, seagreen);
    border: none;
    color: #000;
    font-size: 25px;
    font-weight: 600;
} */
/* button:active{
    scale: 0.96;
} */

/* .box{
    height: 200px;
    width: 200px;
    margin: 20px;
    border-radius: 20px;
    background: linear-gradient(to right bottom, lightblue, cadetblue);
}  */

img{
    height: 200px;
}

button{
    padding: 15px 40px;
    color: #fff;
    border-radius: 50px;
    border: 3px solid #fff;
    background-color: transparent;
    font-size: 25px;
    font-weight: 600;
    cursor: pointer;
}

.box{
    height: 200px;
    width: 200px;
    border-radius: 20px;
    margin: 20px;
    background: linear-gradient(to right bottom, rgb(239, 124, 191), rgb(246, 124,191));
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-weight: 600;
    color: #111;
} 